<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>图书管理</title>
	<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
	<script src="/static/script/jquery-1.7.2.js"></script>
	<script>
		$(function (){
			//给删除图书的超链接绑定单击事件
			$(".deleteBook").click(function (){
				var title = $(this).attr("id");
				return confirm("确定要删除《"+title+"》这本图书吗")
			});
		});
	</script>
</head>
<body>
	
	<div id="header">
			<img class="logo_img" alt="" src="/static/img/logo.gif" >
			<span class="wel_word">图书管理系统</span>
			<div>
				<a href="/getPageBooks">图书管理</a>
				<a href="/main">返回商城</a>
			</div>
	</div>
	
	<div id="main">
		<table>
			<tr>
				<td>名称</td>
				<td>价格</td>
				<td>作者</td>
				<td>销量</td>
				<td>库存</td>
				<td colspan="2">操作</td>
			</tr>
			{{range .Books}}
			<tr>
				<td>{{.Title}}</td>
				<td>{{.Price}}</td>
				<td>{{.Author}}</td>
				<td>{{.Sales}}</td>
				<td>{{.Stock}}</td>
				<td><a href="/editBook?bID={{.BID}}">修改</a></td>
				<td><a id="{{.Title}}" class="deleteBook" href="/deleteBook?bID={{.BID}}">删除</a></td>
			</tr>	
			{{end}}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><a href="/editBook">添加图书</a></td>
			</tr>	
		</table>
		<div id="page_nav">
<!--			这里可以用模板来判断,就把函数放在后台而不是js里面了, 也挺不错的-->
			{{if .HasPrev}}
				<a href="/getPageBooks">首页</a>
				<a href="/getPageBooks?pageNo={{.GetPrevPageNo}}">上一页</a>
			{{end}}
				当前是第{{.PageNo}}页, 共{{.TotalPage}}页，{{.TotalRecord}}条记录
			{{if .HasNext}}
				<a href="/getPageBooks?pageNo={{.GetNextPageNo}}">下一页</a>
				<a href="/getPageBooks?pageNo={{.TotalPage}}">末页</a>
			{{end}}
				到第<input value="" name="pn" id="pn_input"/>页
				<input type="button" id="sub" value="确定">
				<script>
					$("#sub").click(function (){
						var pageNo = $("#pn_input").val();
						if (pageNo > parseInt("{{.TotalPage}}") || pageNo < 1){
							alert("请输入正确的页码")
						} else {
							location = "/getPageBooks?pageNo="+pageNo;
						}
					});
				</script>
		</div>
	</div>
	
	<div id="bottom">
		<span>
			尚硅谷书城.Copyright &copy;2015
		</span>
	</div>
</body>
</html>